<div class="full-bg">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1">Mountain Cabin Rental</a>
      <a routerLink="/owner" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light custom-dashboard-button me-2">
        Profile
      </a>
      <a routerLink="/owner-rentals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light custom-dashboard-button me-2">Reservations
      </a>
      <a routerLink="/owner-cabins" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light custom-dashboard-button me-2">My Cabins
      </a>
      <a routerLink="/owner-statistics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light custom-dashboard-button">Statistics
      </a>
      <div class="ms-auto">
        <a (click)="logout()" class="btn btn-outline-light custom-dashboard-button">Logout</a>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 mb-4">
        <div class="d-flex justify-content-center mb-3">
          <img
            [src]="user.profilePic"
            class="rounded-circle"
            style="width: 150px; height: 150px; object-fit: cover;"
          />
        </div>
        <div class="list-group">
          <button
            type="button"
            class="list-group-item list-group-item-action"
            [class.active]="selectedTab === 'details'"
            (click)="selectTab('details')"
          >
            Account Details
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action"
            [class.active]="selectedTab === 'password'"
            (click)="selectTab('password')"
          >
            Change Password
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action"
            [class.active]="selectedTab === 'picture'"
            (click)="selectTab('picture')"
          >
            Update Profile Picture
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="card shadow rounded-4 p-2">
          <div class="card-body">
            <form *ngIf="selectedTab === 'details'">
              <h3 class="card-title mb-4">Account Details</h3>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              <div class="mb-2">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="firstname" name="firstName">
              </div>
              <div class="mb-2">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="lastname" name="lastName">
              </div>
              <div class="mb-2">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" [(ngModel)]="address" name="address">
              </div>
              <div class="mb-2">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" [(ngModel)]="phoneNumber" name="address">
              </div>
              <div class="mb-2">
                <label class="form-label">Mail</label>
                <input type="text" class="form-control" [(ngModel)]="mail" name="mail">
              </div>
              <div class="mb-3">
                <label class="form-label">Card Number</label>
                <input type="text" class="form-control" [(ngModel)]="cardNumber" name="cardNumber">
              </div>
              <button (click)="updateProfile()" type="button" class="btn btn-success">Save</button>
            </form>

            <form *ngIf="selectedTab === 'password'">
              <h3 class="card-title mb-4">Change Password</h3>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              <div class="mb-3">
                <label class="form-label">Current Password</label>
                <input type="password" class="form-control" [(ngModel)]="oldPassword" name="oldPassword">
              </div>
              <div class="mb-3">
                <label class="form-label">New Password</label>
                <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword">
              </div>
              <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword">
              </div>
              <button type="button" class="btn btn-success" (click)="updatePassword()">Save</button>
            </form>

            <form *ngIf="selectedTab === 'picture'">
              <h3 class="card-title mb-4">Update Profile Picture</h3>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              <div class="mb-3">
                <div class="col-sm-8 mb-3">
                  <input type="file" class="form-control" id="profilePicture" (change)="onFileSelected($event)" 
                    accept="image/png, image/jpg"/>
                </div>
                <button type="button" class="btn btn-success" (click)="uploadProfilePic()">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>