<div class="full-bg">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-4 text-light">
        🏔️ Mountain Cabin Rental
      </a>
      <a routerLink="/owner" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light rounded-pill px-4 me-2">
        Profile
      </a>
      <a routerLink="/owner-rentals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light rounded-pill px-4 me-2">Reservations
      </a>
      <a routerLink="/owner-cabins" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light rounded-pill px-4 me-2">Cabins
      </a>
      <a routerLink="/owner-statistics" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light rounded-pill px-4">Statistics
      </a>
      <div class="ms-auto">
        <a (click)="logout()" class="btn btn-outline-light rounded-pill px-4">Logout</a>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 mb-4">
        <div class="d-flex justify-content-center mb-3">
          <img [src]="user.profilePic" class="rounded-circle border border-3"
            style="width: 150px; height: 150px; object-fit: cover;" />
        </div>
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action" [class.active]="selectedTab === 'cabins'"
            (click)="selectTab('cabins')">
            My Cabins
          </button>
          <button type="button" class="list-group-item list-group-item-action" [class.active]="selectedTab === 'form'"
            (click)="selectTab('form')">
            Add Cabin
          </button>
        </div>
      </div>

      <div class="col-12 col-md-8 mb-4">
        <div class="card shadow rounded-4 p-2 mb-4">
          <div class="card-body">
            <form *ngIf="selectedTab === 'cabins'">
              <div *ngIf="cabins.length > 0; else noCabins">
                <h3 class="card-title mb-4">List of My Cabins</h3>
                <table class="table table-hover table-borderless shadow rounded-4 mt-2">
                  <thead class="table-dark text-center">
                    <tr>
                      <th>Name</th>
                      <th>Location</th>
                      <th>Phone Number</th>
                      <th>Winter Price</th>
                      <th>Summer Price</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="align-middle text-center">
                    <tr *ngFor="let cabin of cabins">
                      <td>{{cabin.name}}</td>
                      <td>{{cabin.location}}</td>
                      <td>{{cabin.phoneNumber}}</td>
                      <td>{{cabin.winterPrice}} RSD</td>
                      <td>{{cabin.summerPrice}} RSD</td>
                      <td style="white-space: nowrap; width: 1%;">
                        <button class="btn btn-info btn-sm me-1" (click)="enterEditCabin(cabin)">Edit</button>
                        <button class="btn btn-danger btn-sm" (click)="deleteCabin(cabin.id)">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #noCabins>
                <h4 class="text-center" style="color: red; font-style: italic;">
                  No my cabins...</h4>
              </ng-template>
            </form>

            <form *ngIf="selectedTab === 'form'">
              <h3 class="card-title mb-4">New Cabin with Form</h3>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              <div class="mb-2">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" [(ngModel)]="name" name="name">
              </div>
              <div class="mb-2">
                <label class="form-label">Location</label>
                <input type="text" class="form-control" [(ngModel)]="location" name="location">
              </div>
              <div class="mb-2">
                <label class="form-label">Services</label>
                <textarea id="services" [(ngModel)]="services" class="form-control" rows="2" name="services"></textarea>
              </div>
              <div class="row mb-2">
                <div class="col-6">
                  <label class="form-label">Winter Price</label>
                  <input type="number" class="form-control" [(ngModel)]="winterPrice" name="winterPrice">
                </div>
                <div class="col-6">
                  <label class="form-label">Summer Price</label>
                  <input type="number" class="form-control" [(ngModel)]="summerPrice" name="summerPrice">
                </div>
              </div>
              <div class="mb-2">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" [(ngModel)]="phoneNumber" name="phoneNumber">
              </div>
              <div class="row mb-3">
                <div class="col-6">
                  <label class="form-label">Latitude</label>
                  <input type="text" class="form-control" [(ngModel)]="latitude" name="latitude">
                </div>
                <div class="col-6">
                  <label class="form-label">Longitude</label>
                  <input type="text" class="form-control" [(ngModel)]="longitude" name="longitude">
                </div>
              </div>
              <div class=" row mb-4">
                <div class="col-6">
                  <label class="form-label">Upload JSON File</label>
                  <input type="file" class="form-control" (change)="onJsonFileSelected($event)"
                    accept="application/json">
                </div>
                <div class="col-6">
                  <label class="form-label">Cabin Images</label>
                  <input type="file" class="form-control" (change)="onFileSelected($event)" multiple
                    accept="image/png, image/jpeg">
                </div>
              </div>
              <div class="d-flex flex-wrap gap-3 mb-2">
                <div *ngFor="let preview of selectedImagePreviews; let i = index" class="position-relative">
                  <img [src]="preview" class="rounded border shadow-sm"
                    style="width: 120px; height: 120px; object-fit: cover;" />

                  <button type="button"
                    class="btn btn-sm btn-danger rounded-circle position-absolute top-0 start-100 translate-middle"
                    style="width: 24px; height: 24px; padding: 0;" (click)="removeImage(i)">
                    ×
                  </button>
                </div>
              </div>

              <button (click)="createCabin()" type="button" class="btn btn-success">Create</button>
            </form>

            <form *ngIf="selectedTab === 'edit'">
              <div class="d-flex justify-content-between align-items-center mb-1">
                <h3 class="card-title">Edit Cabin: {{selectedCabin.name}}</h3>
                <button class="btn btn-secondary" (click)="selectTab('cabins')">Back to Cabins</button>
              </div>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              <div class="mb-2">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" [(ngModel)]="editName" name="name">
              </div>
              <div class="mb-2">
                <label class="form-label">Location</label>
                <input type="text" class="form-control" [(ngModel)]="editLocation" name="location">
              </div>
              <div class="mb-2">
                <label class="form-label">Services</label>
                <textarea id="services" [(ngModel)]="editServices" class="form-control" rows="2"
                  name="services"></textarea>
              </div>
              <div class=" row mb-2">
                <div class="col-6">
                  <label class="form-label">Winter Price</label>
                  <input type="number" class="form-control" [(ngModel)]="editWinterPrice" name="winterPrice">
                </div>
                <div class="col-6">
                  <label class="form-label">Summer Price</label>
                  <input type="number" class="form-control" [(ngModel)]="editSummerPrice" name="summerPrice">
                </div>
              </div>
              <div class="mb-2">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" [(ngModel)]="editPhoneNumber" name="phoneNumber">
              </div>
              <div class=" row mb-3">
                <div class="col-6">
                  <label class="form-label">Latitude</label>
                  <input type="text" class="form-control" [(ngModel)]="editLatitude" name="editLatitude">
                </div>
                <div class="col-6">
                  <label class="form-label">Longitude</label>
                  <input type="text" class="form-control" [(ngModel)]="editLongitude" name="editLongitude">
                </div>
              </div>
              <button (click)="updateCabin(selectedCabin.id)" type="button" class="btn btn-success me-1">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>