<div class="full-bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1">Mountain Cabin Rental</a>
            <div class="ms-auto">
                <a routerLink="/login" class="btn btn-outline-light 
                    custom-dashboard-button me-2">Login As User</a>
                <a routerLink="/admin-login" class="btn btn-outline-light 
                    custom-dashboard-button">Login As Admin</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <!-- ovde ubaci kontent sa pocetne strane -->
    </div>
</div>


<div class="container-fluid">
    <header class="row">
        <!-- <app-menu-home-page></app-menu-home-page> -->
    </header>
    <div class="row">
        <h2>Opšte informacije</h2>
        <!-- <a style="font-style: italic;">Broj uredjenih bašti u sistemu: {{gardenNumber}}</a>
        <br/><br/>
        <a style="font-style: italic;">Broj registrovanih vlasnika u sistemu: {{ownerNumber}}</a>
        <br/><br/>
        <a style="font-style: italic;">Broj registrovanih dekoratera u sistemu: {{decoratorNumber}}</a>
        <br/><br/>
        <a style="font-style: italic;">Ukupan broj poslova u poslednjih: 24 sata - {{numberOfJobsLast24Hours}} ..... 7 dana - {{numberOfJobsLast7Days}} .....30 dana - {{numberOfJobsLast30Days}}</a>
        <br/><br/><hr/> -->
    </div>
    <div class="row">
        <h2>Prikaz firmi</h2>
        <div>Pretraga:
            <!-- <input type="text" name="searchByName" [(ngModel)]="nameParam" placeholder="Unesite naziv firme">
            <input type="text" name="searchByAddress" [(ngModel)]="addressParam" placeholder="Unesite adresu firme">
            <button (click)="search()">Pretražite</button>
            <button (click)="cancelSearch()">Otkaži</button> -->
            <a style="color: beige;">..........</a><br />
            Sortiranje:
            <!-- <button (click)="sortAscedingName()">Ime/Rastuće</button>
            <button (click)="sortDescedingName()">Ime/Opadajuće</button>
            <button (click)="sortAscedingAddress()">Adresa/Rastuće</button>
            <button (click)="sortDescedingAddress()">Adresa/Opadajuće</button> -->
        </div>
        <hr />
    </div>
    <div class="row">
        <!-- <div *ngIf="listOfCompanies.length>0; else noCompanies">
            <div *ngFor="let com of listOfCompanies">
                <div style="font-size: large; font-style: italic;">Naziv: {{com.name}}...Adresa: {{com.address}}</div>
                <br/>
                <div>Spisak dekoratera:</div>
                <table>
                    <tr *ngFor="let dec of com.decorators" style="font-size: small;">
                        <td>Ime:</td>
                        <td style="font-style: italic;">{{dec.firstname}}</td>
                        <td>Prezime:</td>
                        <td style="font-style: italic;">{{dec.lastname}}</td>
                    </tr>
                </table>
                <hr/>
            </div>
        </div>
        <ng-template #noCompanies>
            <a style="color: red; font-style: italic;">
                Nema kompanija...
            </a>
        </ng-template> -->
    </div>
</div>