li {
    display: inline;
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
    border-left: 1px solid #bbb;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1e782b;
  }

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li b {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #c0701b;
}

li a:hover {
    background-color: #c0701b;
}

.custom-dashboard-button:hover {
  background-color: #f8f9fa;
  color: #212529;
  border-color: #f8f9fa;
}
