<div class="full-bg">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-4 text-light">
        🏔️ Mountain Cabin Rental
      </a>

      <div class="ms-auto d-flex align-items-center gap-2">
        <a (click)="logout()"
          class="btn btn-outline-danger rounded-pill px-4">Logout</a>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 mb-4 d-flex flex-column h-100">
        <div class="d-flex justify-content-center mb-4">
          <div class="border border-3 border rounded-circle p-1 bg-light" style="width: 160px; height: 160px;">
            <img [src]="adminPic" class="rounded-circle w-100 h-100" style="object-fit: cover;" />
          </div>
        </div>

        <div class="card bg-light rounded-4">
          <div class="list-group list-group-flush rounded-4 overflow-hidden">
            <button type="button" class="list-group-item list-group-item-action py-3 fw-semibold"
              [ngClass]="{ 'active bg-primary text-white': selectedTab === 'requests' }" 
              (click)="selectTab('requests')">
              🟡 Registration Requests
            </button>
            <button type="button" class="list-group-item list-group-item-action py-3 fw-semibold"
              [ngClass]="{ 'active bg-primary text-white': selectedTab === 'owners'}" 
              (click)="selectTab('owners')">
              🟢 Active Owners
            </button>
            <button type="button" class="list-group-item list-group-item-action py-3 fw-semibold"
              [ngClass]="{ 'active bg-primary text-white': selectedTab === 'tourists' }" 
              (click)="selectTab('tourists')">
              🟢 Active Tourists
            </button>
            <button type="button" class="list-group-item list-group-item-action py-3 fw-semibold"
              [ngClass]="{ 'active bg-primary text-white': selectedTab === 'cabins' }" 
              (click)="selectTab('cabins')">
              🏕️ All Cabins
            </button>
          </div>
        </div>

        <div class="position-sticky bottom-0 mt-auto pt-3 text-center" *ngIf="selectedTab == 'editOwner'">
          <button type="button" class="btn btn-outline-dark w-100 rounded-pill" (click)="selectTab('owners')">
            ← Back to Active Owners
          </button>
        </div>
        <div class="position-sticky bottom-0 mt-auto pt-3 text-center" *ngIf="selectedTab == 'editTourist'">
          <button type="button" class="btn btn-outline-dark w-100 rounded-pill" (click)="selectTab('tourists')">
            ← Back to Active Tourists
          </button>
        </div>

      </div>

      <div class="col-12 col-lg-9">
        <div class="card rounded-4 p-4 bg-light">
          <div class="card-body">

            <div *ngIf="selectedTab === 'owners'">
              <div *ngIf="activeOwners.length > 0; else noOwners">
                <h3 class="card-title text-primary fw-bold text-center mb-4">🟢 List of Active Owners</h3>
                <div class="table-responsive rounded-4">
                  <table class="table table-hover align-middle table-borderless mb-0">
                    <thead class="table-primary text-center rounded-top">
                      <tr class="text-uppercase small fw-semibold">
                        <th></th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr *ngFor="let user of activeOwners">
                        <td>
                          <img [src]="user.profilePic || 
                            'default.jpg'" class="rounded-circle" style="width: 30px; height: 30px;">
                        </td>
                        <td>{{ user.firstname }} {{ user.lastname }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.mail }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td style="white-space: nowrap; width: 1%;">
                          <button class="btn btn-outline-primary btn-sm rounded-pill px-3 shadow-sm me-2"
                            (click)="editOwner(user.username)">✏️ Edit User</button>
                          <button class="btn btn-outline-danger btn-sm rounded-pill px-3 shadow-sm"
                            (click)="deactivateUser(user.username)">❌ Deactivate</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <ng-template #noOwners>
                <div class="text-center text-danger mt-4 fst-italic fs-5">
                  No active owners...
                </div>
              </ng-template>
            </div>

            <div *ngIf="selectedTab === 'tourists'">
              <div *ngIf="activeTourists.length > 0; else noTourists">
                <h3 class="card-title text-primary fw-bold text-center mb-4">🟢 List of Active Tourists</h3>
                <div class="table-responsive rounded-4">
                  <table class="table table-hover align-middle table-borderless mb-0">
                    <thead class="table-primary text-center rounded-top">
                      <tr class="text-uppercase small fw-semibold">
                        <th></th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr *ngFor="let user of activeTourists">
                        <td>
                          <img [src]="user.profilePic || 
                            'default.jpg'" class="rounded-circle" style="width: 30px; height: 30px;">
                        </td>
                        <td>{{ user.firstname }} {{ user.lastname }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.mail }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td style="white-space: nowrap; width: 1%;">
                          <button class="btn btn-outline-primary btn-sm rounded-pill px-3 shadow-sm me-2"
                            (click)="editTourist(user.username)">✏️ Edit User</button>
                          <button class="btn btn-outline-danger btn-sm rounded-pill px-3 shadow-sm"
                            (click)="deactivateUser(user.username)">❌ Deactivate</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <ng-template #noTourists>
                <div class="text-center text-danger mt-4 fst-italic fs-5">
                  No active tourists...
                </div>
              </ng-template>
            </div>

            <div *ngIf="selectedTab === 'requests'">
              <div *ngIf="registrationRequests.length > 0; else noRequests">
                <h3 class="card-title text-primary fw-bold text-center mb-4">🟡 List of Registration Requests</h3>
                <div class="table-responsive rounded-4">
                  <table class="table table-hover align-middle table-borderless mb-0">
                    <thead class="table-primary text-center rounded-top">
                      <tr class="text-uppercase small fw-semibold">
                        <th></th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody class="align-middle text-center">
                      <tr *ngFor="let request of registrationRequests">
                        <td>
                          <img [src]="request.profilePic || 'default.jpg'" class="rounded-circle" 
                            style="width: 30px; height: 30px;">
                        </td>
                        <td>{{ request.firstname }} {{ request.lastname }}</td>
                        <td>{{ request.username }}</td>
                        <td>{{ request.mail }}</td>
                        <td>{{ request.phoneNumber }}</td>
                        <td style="white-space: nowrap; width: 1%;">
                          <button class="btn btn-outline-success btn-sm rounded-pill px-3 shadow-sm me-2"
                            (click)="acceptRequest(request.username)">✅ Approve</button>
                          <button class="btn btn-outline-danger btn-sm rounded-pill px-3 shadow-sm"
                            (click)="declineRequest(request.username)">❌ Reject</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <ng-template #noRequests>
                <h4 class="text-center text-danger mt-4 fst-italic fs-5">
                No registration requests...
              </h4>
              </ng-template>
            </div>

            <div *ngIf="selectedTab === 'editOwner'">
                <div class="d-flex justify-content-center mb-1">
                  <h3 class="card-title text-primary fw-bold text-center">✏️ Edit Owner: {{editFirstname}} {{editLastname}}</h3>
                </div>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              <div class="row g-3">
                <div class="col-md-6">
                  <label class="form-label text-secondary fw-semibold">First Name</label>
                  <input type="text" class="form-control" [(ngModel)]="editFirstname" name="editFirstname">
                </div>
                <div class="col-md-6">
                  <label class="form-label text-secondary fw-semibold">Last Name</label>
                  <input type="text" class="form-control" [(ngModel)]="editLastname" name="editLastname">
                </div>
                <div class="col-12">
                  <label class="form-label text-secondary fw-semibold">Address</label>
                  <input type="text" class="form-control" [(ngModel)]="editAddress" name="editAddress">
                </div>
                <div class="col-md-6">
                  <label class="form-label text-secondary fw-semibold">Phone Number</label>
                  <input type="text" class="form-control" [(ngModel)]="editPhoneNumber" name="editPhoneNumber">
                </div>
                <div class="col-md-6">
                  <label class="form-label text-secondary fw-semibold">Mail</label>
                  <input type="text" class="form-control" [(ngModel)]="editMail" name="editMail">
                </div>
                <div class="col-12">
                  <label class="form-label text-secondary fw-semibold">Card Number</label>
                  <input type="text" class="form-control" [(ngModel)]="editCardNumber" name="editCardNumber">
                </div>
                <div class="col-12">
                  <label class="form-label text-secondary fw-semibold">Profile Picture</label>
                  <input type="file" class="form-control" id="profilePicture" (change)="onFileSelected($event)" 
                    accept="image/png, image/jpg"/>
                </div>
              </div>
              <div class="text-end mt-4">
                <button (click)="updateProfile()" type="button" class="btn btn-success px-4">Save</button>
              </div>
            </div>

            <div *ngIf="selectedTab === 'editTourist'">
              <div class="d-flex justify-content-center mb-1">
                <h3 class="card-title text-primary fw-bold text-center">✏️ Edit Tourist: {{editFirstname}} {{editLastname}}</h3>
              </div>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              <div class="row g-3">
                <div class="col-md-6">
                  <label class="form-label text-secondary fw-semibold">First Name</label>
                  <input type="text" class="form-control" [(ngModel)]="editFirstname" name="editFirstname">
                </div>
                <div class="col-md-6">
                  <label class="form-label text-secondary fw-semibold">Last Name</label>
                  <input type="text" class="form-control" [(ngModel)]="editLastname" name="editLastname">
                </div>
                <div class="col-12">
                  <label class="form-label text-secondary fw-semibold">Address</label>
                  <input type="text" class="form-control" [(ngModel)]="editAddress" name="editAddress">
                </div>
                <div class="col-md-6">
                  <label class="form-label text-secondary fw-semibold">Phone Number</label>
                  <input type="text" class="form-control" [(ngModel)]="editPhoneNumber" name="editPhoneNumber">
                </div>
                <div class="col-md-6">
                  <label class="form-label text-secondary fw-semibold">Mail</label>
                  <input type="text" class="form-control" [(ngModel)]="editMail" name="editMail">
                </div>
                <div class="col-12">
                  <label class="form-label text-secondary fw-semibold">Card Number</label>
                  <input type="text" class="form-control" [(ngModel)]="editCardNumber" name="editCardNumber">
                </div>
                <div class="col-12">
                  <label class="form-label text-secondary fw-semibold">Profile Picture</label>
                  <input type="file" class="form-control" id="profilePicture" (change)="onFileSelected($event)" 
                    accept="image/png, image/jpg"/>
                </div>
              </div>
              <div class="text-end mt-4">
                <button (click)="updateProfile()" type="button" class="btn btn-success px-4">Save</button>
              </div>
            </div>

            <div *ngIf="selectedTab === 'cabins'">
              <div *ngIf="cabins.length > 0; else noCabins">
                <h3 class="card-title text-center mb-4 fw-bold text-primary">🏕️ List of All Cabins</h3>
                <div class="table-responsive rounded-4">
                  <table class="table table-hover align-middle table-borderless mb-0">
                    <thead class="table-primary text-center rounded-top">
                      <tr class="text-uppercase small fw-semibold">
                        <th>Owner</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Phone Number</th>
                        <th>Winter Price</th>
                        <th>Summer Price</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody class="align-middle text-center">
                      <tr *ngFor="let cabin of cabins">
                        <td>{{cabin.owner}}</td>
                        <td>{{cabin.name}}</td>
                        <td>{{cabin.location}}</td>
                        <td>{{cabin.phoneNumber}}</td>
                        <td>{{cabin.winterPrice}} RSD</td>
                        <td>{{cabin.summerPrice}} RSD</td>
                        <td style="white-space: nowrap; width: 1%;">
                          <button class="btn btn-outline-danger btn-sm rounded-pill px-3 shadow-sm">
                            🔴 Block
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <ng-template #noCabins>
                <h4 class="text-center text-danger mt-4 fst-italic fs-5">
                No cabins in system...
              </h4>
              </ng-template>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
