<div class="full-bg">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-4 text-light">
        🏔️ Mountain Cabin Rental
      </a>

      <div class="ms-auto d-flex align-items-center gap-2">
        <a (click)="logout()"
          class="btn btn-outline-light rounded-pill px-4">Logout</a>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 mb-4">
        <div class="d-flex justify-content-center mb-3">
          <img
            [src]="adminPic"
            class="rounded-circle border border-3"
            style="width: 150px; height: 150px; object-fit: cover;"
          />
        </div>
        <div class="list-group">
          <button
            type="button"
            class="list-group-item list-group-item-action"
            [class.active]="selectedTab === 'users' || selectedTab === 'edit'"
            (click)="selectTab('users')"
          >
            Active Users
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action"
            [class.active]="selectedTab === 'requests'"
            (click)="selectTab('requests')"
          >
            Registration Requests
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action"
            [class.active]="selectedTab === 'cabins'"
            (click)="selectTab('cabins')"
          >
            All Cabins
          </button>
        </div>
      </div>
      <div class="col-12 col-md-8 mb-4">
        <div class="card shadow rounded-4 p-2">
          <div class="card-body">
            <form *ngIf="selectedTab === 'users'">
              <div *ngIf="activeUsers.length > 0; else noUsers">
                <h3 class="card-title mb-4">List of Active Users</h3>
                <table class="table table-hover table-borderless shadow rounded-4 mt-2">
                  <thead class="table-dark text-center">
                    <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="align-middle text-center">
                    <tr *ngFor="let user of activeUsers">
                      <td>
                        <img [src]="user.profilePic || 'default.jpg'" class="rounded-circle" style="width: 40px; height: 40px;">
                      </td>
                      <td>{{ user.firstname }} {{ user.lastname }}</td>
                      <td>{{ user.username }}</td>
                      <td>{{ user.mail }}</td>
                      <td>{{ user.phoneNumber }}</td>
                      <td style="white-space: nowrap; width: 1%;">
                        <button class="btn btn-info btn-sm me-1"
                          (click)="editUser(user.username)">Edit User</button>
                        <button class="btn btn-danger btn-sm"
                          (click)="deactivateUser(user.username)">Deactivate</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #noUsers>
                <h4 class="text-center" style="color: red; font-style: italic;">
                No active users...</h4>
              </ng-template>
            </form>
            <form *ngIf="selectedTab === 'requests'">
              <div *ngIf="registrationRequests.length > 0; else noRequests">
                <h3 class="card-title mb-4">List of Registration Requests</h3>
                <table class="table table-hover table-borderless shadow rounded-4 mt-2">
                  <thead class="table-dark text-center">
                    <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="align-middle text-center">
                    <tr *ngFor="let request of registrationRequests">
                      <td>
                        <img [src]="request.profilePic || 'default.jpg'" class="rounded-circle" style="width: 40px; height: 40px;">
                      </td>
                      <td>{{ request.firstname }} {{ request.lastname }}</td>
                      <td>{{ request.username }}</td>
                      <td>{{ request.mail }}</td>
                      <td>{{ request.phoneNumber }}</td>
                      <td style="white-space: nowrap; width: 1%;">
                        <button class="btn btn-success btn-sm me-1"
                          (click)="acceptRequest(request.username)">Approve</button>
                        <button class="btn btn-danger btn-sm"
                          (click)="declineRequest(request.username)">Reject</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #noRequests>
                <h4 class="text-center" style="color: red; font-style: italic;">
                No registration requests...</h4>
              </ng-template>
            </form>
            <form *ngIf="selectedTab === 'edit'">
              <div class="d-flex justify-content-between align-items-center mb-1">
                <h3 class="card-title">Edit User: {{editFirstname}} {{editLastname}}</h3>
                <button class="btn btn-primary" (click)="selectedTab = 'users'">Back to Users</button>
              </div>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              <div class="mb-1">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="editFirstname" name="firstName">
              </div>
              <div class="mb-1">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="editLastname" name="lastName">
              </div>
              <div class="mb-1">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" [(ngModel)]="editAddress" name="address">
              </div>
              <div class="mb-1">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" [(ngModel)]="editPhoneNumber" name="address">
              </div>
              <div class="mb-1">
                <label class="form-label">Mail</label>
                <input type="text" class="form-control" [(ngModel)]="editMail" name="mail">
              </div>
              <div class="mb-1">
                <label class="form-label">Card Number</label>
                <input type="text" class="form-control" [(ngModel)]="editCardNumber" name="cardNumber">
              </div>
              <div class="mb-3">
                <label class="form-label">Profile Picture</label>
                <div class="col-sm-4">
                  <input type="file" class="form-control" id="profilePicture" (change)="onFileSelected($event)" 
                    accept="image/png, image/jpg"/>
                </div>
              </div>
              <button (click)="updateProfile()" type="button" class="btn btn-success me-1">Save</button>
            </form>
            <form *ngIf="selectedTab === 'cabins'">
              <div *ngIf="cabins.length > 0; else noCabins">
                <h3 class="card-title mb-4">List of All Cabins</h3>
                <table class="table table-hover table-borderless shadow rounded-4 mt-2">
                  <thead class="table-dark text-center">
                    <tr>
                      <th>Owner</th>
                      <th>Name</th>
                      <th>Location</th>
                      <th>Phone Number</th>
                      <th>Winter Price</th>
                      <th>Summer Price</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="align-middle text-center">
                    <tr *ngFor="let cabin of cabins">
                      <td>{{cabin.owner}}</td>
                      <td>{{cabin.name}}</td>
                      <td>{{cabin.location}}</td>
                      <td>{{cabin.phoneNumber}}</td>
                      <td>{{cabin.winterPrice}} RSD</td>
                      <td>{{cabin.summerPrice}} RSD</td>
                      <td style="white-space: nowrap; width: 1%;">
                        <button class="btn btn-danger btn-sm me-1">BLOCK-TODO</button>
                        <!-- Blocking only for specific cabins -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <ng-template #noCabins>
                <h4 class="text-center" style="color: red; font-style: italic;">
                No cabins in system...</h4>
              </ng-template>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
