<div class="full-bg">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-4 text-light">
        🏔️ Mountain Cabin Rental
      </a>

      <a routerLink="/tourist" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light rounded-pill px-4 me-2">
        Profile
      </a>
      <a routerLink="/tourist-cabins" [ngClass]="{ 'active': isCabinsRouteActive() }"
        class="btn btn-outline-light rounded-pill px-4 me-2">Cabins
      </a>
      <a routerLink="/tourist-rentals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light rounded-pill px-4">Reservations
      </a>

      <div class="ms-auto d-flex align-items-center gap-2">
        <a (click)="logout()" class="btn btn-outline-light rounded-pill px-4">Logout</a>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 mb-4">
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-secondary mb-3" routerLink="/tourist-cabins">
            Back to Cabins
          </button>
        </div>
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action"
            [class.active]="selectedTab === 'details'" (click)="selectTab('details')">
            Cabin Details
          </button>
          <button type="button" class="list-group-item list-group-item-action"
            [class.active]="selectedTab === 'password'" (click)="selectTab('password')">
            Change Password
          </button>
          <button type="button" class="list-group-item list-group-item-action"
            [class.active]="selectedTab === 'picture'" (click)="selectTab('picture')">
            Update Profile Picture
          </button>
        </div>
      </div>

      <div class="col-12 col-md-8">
        <div class="card shadow rounded-4 p-2 mb-4">
          <div class="card-body">
            <form *ngIf="selectedTab === 'details'">
              <h3 class="card-title mb-4">Cabin Details</h3>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              <div class="mb-2">
                <span class="fw-bold">Cabin ID:</span> {{ cabin.id }}
                <br>
                <label class="form-label">Name</label>
                <input type="text" class="form-control" [(ngModel)]="cabin.name" name="name">
              </div>
              <div class="mb-2">
                <label class="form-label">Owner</label>
                <input type="text" class="form-control" [(ngModel)]="cabin.owner" name="owner">
              </div>
              <div class="mb-2">
                <label class="form-label">Location</label>
                <input type="text" class="form-control" [(ngModel)]="cabin.location" name="location">
              </div>
              <div class="mb-2">
                <label class="form-label">Phone Number</label>
                <input type="text" class="form-control" [(ngModel)]="cabin.phoneNumber" name="phoneNumber">
              </div>
              <div class="mb-2">
                <label class="form-label">Services</label>
                <input type="text" class="form-control" [(ngModel)]="cabin.services" name="services">
              </div>
              <div class="mb-2">
                <label class="form-label">Winter Price</label>
                <input type="number" class="form-control" [(ngModel)]="cabin.winterPrice" name="winterPrice">
              </div>
              <div class="mb-2">
                <label class="form-label">Summer Price</label>
                <input type="number" class="form-control" [(ngModel)]="cabin.summerPrice" name="summerPrice">
              </div>
              <div class="mb-2">
                <label class="form-label">Coordinates</label>
                <input type="text" class="form-control" [(ngModel)]="cabin.coordinates" name="coordinates">
              </div>
            </form>

            <!-- <form *ngIf="selectedTab === 'password'">
              <h3 class="card-title">Change Password</h3>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              <div class="mb-3">
                <label class="form-label">Current Password</label>
                <input type="password" class="form-control" [(ngModel)]="oldPassword" name="oldPassword">
              </div>
              <div class="mb-3">
                <label class="form-label">New Password</label>
                <input type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword">
              </div>
              <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="confirmPassword">
              </div>
              <button type="button" class="btn btn-success" (click)="updatePassword()">Save</button>
            </form> -->

            <!-- <form *ngIf="selectedTab === 'picture'">
              <h3 class="card-title mb-4">Update Profile Picture</h3>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              <div class="mb-3">
                <div class="col-sm-8 mb-3">
                  <input type="file" class="form-control" id="profilePicture" (change)="onFileSelected($event)"
                    accept="image/png, image/jpg" />
                </div>
                <button type="button" class="btn btn-success" (click)="uploadProfilePic()">Save</button>
              </div>
            </form> -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>