<div class="full-bg">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-4 text-light">
        🏔️ Mountain Cabin Rental
      </a>

      <a routerLink="/tourist" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light rounded-pill px-4 me-2">
        Profile
      </a>
      <a routerLink="/tourist-cabins" [ngClass]="{ 'active': isCabinsRouteActive() }"
        class="btn btn-outline-light rounded-pill px-4 me-2">Cabins
      </a>
      <a routerLink="/tourist-rentals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light rounded-pill px-4">Reservations
      </a>

      <div class="ms-auto d-flex align-items-center gap-2">
        <a (click)="logout()" class="btn btn-outline-danger rounded-pill px-4">Logout</a>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-3 mb-4 d-flex flex-column h-100">
        <div class="card bg-light rounded-4 mb-1">
          <div class="list-group list-group-flush rounded-4 overflow-hidden">
            <button type="button" class="list-group-item list-group-item-action py-3 fw-semibold"
              [ngClass]="{ 'active bg-primary text-white': selectedTab === 'details' }" 
              (click)="selectTab('details')">📋 Cabin Details
            </button>
            <button type="button" class="list-group-item list-group-item-action py-3 fw-semibold"
              [ngClass]="{ 'active bg-primary text-white': selectedTab === 'rent' }" (click)="selectTab('rent')">
              🗝️ Rent Cabin
            </button>
          </div>
        </div>
        <div class="position-sticky bottom-0 mt-auto pt-3 text-center">
          <button type="button" class="btn btn-outline-dark w-100 rounded-pill" routerLink="/tourist-cabins">
            ← Back to Cabins
          </button>
        </div>
      </div>

      <div class="col-12 col-lg-8">
        <div class="card rounded-4 p-4 bg-light mb-4">
          <div class="card-body">
            <div *ngIf="selectedTab === 'details'">
              <h3 class="card-title text-primary fw-bold text-center mb-4">📋 Cabin Details</h3>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              <h5 style="font-style: italic; color: #FF0000;">***Design it better***</h5>
              <div class="mb-2">
                <span class="fw-bold">Cabin ID:</span> {{ cabin.id }}
                <br>
                <span class="fw-bold">Owner:</span> {{ cabin.owner }}
                <br>
                <span class="fw-bold">Name:</span> {{ cabin.name }}
                <br>
                <span class="fw-bold">Location:</span> {{ cabin.location }}
                <br>
                <span class="fw-bold">Phone:</span> {{ cabin.phoneNumber }}
                <br>
                <span class="fw-bold">Services:</span> {{ cabin.services }}
                <br>
                <span class="fw-bold">Winter Price:</span> {{ cabin.winterPrice }} RSD
                <br>
                <span class="fw-bold">Summer Price:</span> {{ cabin.summerPrice }}
                <br>
                <span class="fw-bold">Coordinates:</span> {{ cabin.latitude }}, {{ cabin.longitude }}
              </div>
              <!-- CABIN MAP -->
              <div class="col-6">
                <h5 class="mt-4 mb-2">Cabin Map</h5>
                <app-map *ngIf="cabin?.latitude && cabin?.longitude" 
                  [coordinates]="[cabin.latitude, cabin.longitude]"></app-map>
              </div>
              <br>
              <h5 style="font-style: italic; color: #FF0000;">***Add pictures***</h5>
            </div>

            <div *ngIf="selectedTab === 'rent'">
              <h3 class="card-title text-primary fw-bold text-center mb-4">🗝️ Rent Cabin</h3>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>