<div class="full-bg">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold fs-4 text-light">
        🏔️ Mountain Cabin Rental
      </a>

      <a routerLink="/tourist" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light rounded-pill px-4 me-2">
        Profile
      </a>
      <a routerLink="/tourist-cabins" [ngClass]="{ 'active': isCabinsRouteActive() }"
        class="btn btn-outline-light rounded-pill px-4 me-2">Cabins
      </a>
      <a routerLink="/tourist-rentals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="btn btn-outline-light rounded-pill px-4">Reservations
      </a>

      <div class="ms-auto d-flex align-items-center gap-2">
        <a (click)="logout()" class="btn btn-outline-light rounded-pill px-4">Logout</a>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 mb-4">
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-secondary mb-3" routerLink="/tourist-cabins">
            Back to Cabins
          </button>
        </div>
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action"
            [class.active]="selectedTab === 'details'" (click)="selectTab('details')">
            Cabin Details
          </button>
          <button type="button" class="list-group-item list-group-item-action"
            [class.active]="selectedTab === 'rent'" (click)="selectTab('rent')">
            Rent Cabin
          </button>
        </div>
      </div>

      <div class="col-12 col-md-8">
        <div class="card shadow rounded-4 p-2 mb-4">
          <div class="card-body">
            <form *ngIf="selectedTab === 'details'">
              <h3 class="card-title mb-4">Cabin Details</h3>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>
              <h5 style="font-style: italic; color: #FF0000;">***Design it better***</h5>
              <div class="mb-2">
                <span class="fw-bold">Cabin ID:</span> {{ cabin.id }}
                <br>
                <span class="fw-bold">Owner:</span> {{ cabin.owner }}
                <br>
                <span class="fw-bold">Name:</span> {{ cabin.name }}
                <br>
                <span class="fw-bold">Location:</span> {{ cabin.location }}
                <br>
                <span class="fw-bold">Phone:</span> {{ cabin.phoneNumber }}
                <br>
                <span class="fw-bold">Services:</span> {{ cabin.services }}
                <br>
                <span class="fw-bold">Winter Price:</span> {{ cabin.winterPrice }} RSD
                <br>
                <span class="fw-bold">Summer Price:</span> {{ cabin.summerPrice }}
                <br>
                <span class="fw-bold">Coordinates:</span> {{ cabin.coordinates }}
              </div>
              <h5 style="font-style: italic; color: #FF0000;">***Adding pictures and map***</h5>
            </form>

            <form *ngIf="selectedTab === 'rent'">
              <h3 class="card-title mb-4">Rent Cabin</h3>
              <h5 style="font-style: italic; color: #FF0000;">***Add step by step instructions here***</h5>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                <span>{{message}}</span>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>